-- Add user_id column with a temporary default (user id 1 = admin)
ALTER TABLE "procurement_alerts" ADD COLUMN "user_id" INTEGER NOT NULL DEFAULT 1;

-- Remove the default after backfilling
ALTER TABLE "procurement_alerts" ALTER COLUMN "user_id" DROP DEFAULT;

-- CreateIndex
CREATE INDEX "procurement_alerts_user_id_idx" ON "procurement_alerts"("user_id");

-- AddForeignKey
ALTER TABLE "procurement_alerts" ADD CONSTRAINT "procurement_alerts_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;